
/*!
 * Sidebar background and hovering using Eastern Blue and Eastern Red 
*/


.skin-blue .main-sidebar {
  	background-color: rgb(0, 38, 73);
        font-color: green;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
        background-color: rgb(124,33,40);
      }

.skin-blue .sidebar-menu>li>a {
        color: white;
      }

